* {
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%
  }
  
  .hero-content {
    text-align: center;
    color: #fff;
    max-width: 800px;
    padding: 0 20px;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn:hover {
    background-color: #333;
    color: #fff;
  }
  